# Ignore PyCharm files
.idea/

# Ignore compiled Python files
*.pyc

# Ignore compiled files
*.spec
__pychace__/
**/__pycache__/
build/
dist/

# Ignore the virtual environment
venv/

# Ignore local Caduceus config files
portable.txt
history.json
settings.json

Notes.txt

